/*
================================
      Landing page style
================================
*/
body {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  background-color: #efefef;
  font-family: 'Karla', sans-serif;
  color: #000000;
  overflow-x: hidden;
}

nav {
  background-color: #ffffff;
  padding: 20px;
  border: 1px solid #f9f9f9;
  box-shadow: 1px 1px 1px 2px #e6e6e6;
  height: 23px;
}

nav a {
  text-decoration: none;
  padding: 10px;
}

nav span {
  font-family: 'Akronim', cursive;
  font-size: 28px;
  line-height: 23px;
}

.right-side {
  float: right;
}

.right-side a {
  padding: 10px;
  background-color: #0012a0;
  color: #ffffff;
  border-radius: 5px;
  box-shadow: 1px 1px 1px 1px #efefef;
}

.right-side a:hover {
  transition: background .9s;
  background-color: #001086;
}

.landing-image-contaner {
  width: 1000px;
  margin: 40px auto 0;
}

.landing-image-contaner img {
  width: 1000px;
}

/*
=======================================
      Sign up and login page style
=======================================
*/

#form {
  width: 400px;
  background-color: #ffffff;
  margin: 0 auto;
  box-shadow: 1px 1px 1px 2px #e8e8e8;
  border-radius: 5px;
  padding: 30px;
  margin-top: 20px;
}

.signup-height{
  height: 440px;
}

.space-bottom {
  margin-bottom: 15px;
}

.align-center {
  text-align: center;
}

.input-style {
  width: 80%;
  color: #a2a2a2;
  border-radius: 5px;
  font-size: 18px;
  height: 20px;
  border: 1px solid #f3eded;
  padding: 10px;
  background-color: #f9f9f9;
  letter-spacing: .2em;
}

.button-style {
  width: 50%;
  padding: 5px;
  height: 34px;
  border-radius: 5px;
  background-color: #0012a0;
  color: #ffffff;
  box-shadow: 1px 1px 1px 2px #efefef;
  border: none;
  font-size: 15px;
  letter-spacing: .2em;
}

.button-style:hover {
  cursor: pointer;
  background-color: #001086;
  transition: background-color .9s;
}

.login-height {
  height: 225px;
}

/*
================================
      Options page styles
================================
*/

.wrapper-option {
  width: 100vw;
  height: 100vh;
}
.content-option {
  width: 300px;
  background-color: #ffffff;
  text-align: center;
  height: 200px;
  border-radius: 5px;
  box-shadow: 1px 1px 1px 2px #e8e8e8;
  margin: 0 auto;
  padding: 20px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.content-option a {
  display: block;
  margin-bottom: 10px;
  text-decoration: none;
  padding: 10px;
  background-color: #0012a0; 
  color: #ffffff;
  border-radius: 5px;
}

.content-option a:hover {
  background-color: #001086;
  transition: background-color .9s;
}

/*
================================
      Post Ad pagee styles
================================
*/
.logout {
  background-color: #d6c4c4 !important;
  color: #dc6060 !important;
}

.logout:hover {
  background-color: #dc6060 !important;
  color: #ffffff !important;
  transition: background-color .9s;
}

.post-ad--wrapper {
  margin: 10px 5px 10px;
}

.post-content {
  width: 40%;
  height: 660px;
  background-color: #ffffff;
  margin: 0 auto;
  border-radius: 5px;
  box-shadow: 1px 1px 1px 1px #b3b3b3;
  padding: 10px;
}

.select-width--height {
  height: 45px;
  width: 85%;
}

/*
*================================
*      my AD PAGE STYLES
*================================
*/

.container {
  margin: 20px;
}

.item-listings {
  width: 70%;
  padding-inline-start: 0;
}

.more-width {
  width: 100%;
}

.item {
  list-style: none;
  width: 355px;
  height: 425px;
  background-color: #ffffff;
  padding: 10px;
  border-radius: 5px;
  display: inline-block;
  margin: 0 10px 45px 0;
  box-shadow: 1px 1px 1px 1px #b3b3b3;
}

.item-image img {
  width: 100%;
}

.item-heading {
  color: #02107d;
}

.item-state, .item-status,
.item--order-status {
  padding: 2px 7px 2px;
  border-radius: 15px;
  color: #ffffff;
}

.item-state {
  background-color: rgb(255, 136, 0);
}

.item-status,
.item--order-status {
  background-color: #cccccc;
  float: right;
}

.item-price {
  text-align: right;
}

.item-action a {
  padding: 10px;
  text-decoration: none;
  border-radius: 5px;
}

.item-action a.view {
  background-color: #b5b7ce;
  color: #02107d;
  box-shadow: 1px 1px 1px 1px #02107d;
}

.item-action a.edit {
  background-color: #ffffff;
  color: #6d6d6d;
  box-shadow: 1px 1px 1px 1px #6d6d6d;
}

.text-center {
  text-align: center;
}

.item--order-status {
  margin-right: 5px;
}

/*
*==============================
*      MODAL STYLES
*===============================
*/

.editAdvertModal,
.orderModal,
.editOrderModal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #7d7d7d;
  opacity: 0;
  display: none;
  transform: translateY(50%);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.modal-content {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%);
  background-color: #ffffff;
  padding: .5rem 1rem;
  width: 30rem;
  border-radius: 5px;
  box-shadow: 1px 1px 1px 1px #cccccc;
}

.readonly {
  background-color: #d0d0d0;
}

.modal-heading {
  text-align: center;
}

.close-button {
  float: right;
  width: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
  cursor: pointer;
  border-radius: 0.25rem;
  font-weight: 600;
  background-color: lightgray;
  transition: background-color .9s, color .9s;
}

.close-button:hover {
  background-color: #902222;
  color: #fff;
}

.show-modal {
  opacity: 1;
  display: block;
  transform: translateY(0);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

/*
*==============================
*      ORDER STYLES
*===============================
*/

.item-action a.order {
  background-color: #b1d4ac;
  color: #139e00;
  box-shadow: 1px 1px 1px 1px #139e00;
}

/*
================================
      Responsiveness
================================
*/

@media only screen and (max-width: 375px) {

  .landing-image-contaner,
  .landing-image-contaner img {
    width: 300px !important;
  }

  .landing-image-contaner {
    margin: 40px auto 0 !important;
  }

  #form {
    width: 230px;
  }
}

@media only screen and (max-width: 667px) {

  .landing-image-contaner,
  .landing-image-contaner img {
    width: 450px !important;
  }
}

@media only screen and (max-width: 853px) {

  .landing-image-contaner,
  .landing-image-contaner img {
    width: 700px !important;
  }
}

@media only screen and (max-width: 425px) {
  #form {
    width: 300px;
  }
}